@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@custom-variant dark (&:where(.dark, .dark *));


:root {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

@theme{
  --color-primary-green: #659E38;
  --color-primary-green-dark: #217421;
  --color-gray: #EDEDED;
  --color-primary-black: #001F00;
}
a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

p{
  @apply text-xl text-primary-black;
}
.btn-primary-green{
  @apply bg-primary-green px-6 py-2 text-white w-fit rounded transition-colors;
}

.btn-primary-green:hover{
  @apply bg-primary-green-dark
}

.card p{
  @apply text-sm text-gray-500;
}